<ion-content>

  <!--===========Waves start============-->
  <div class="header">
  
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>


 <!--=========== Image ============-->
  <div class="ion-text-center image">
    <ion-icon [ngClass]="{'animate__rubberBand': animate}"
    class="animate__animated" src="/assets/icon/sport.svg"></ion-icon>
  </div>

   <!--=========== Welcome ============-->
  <h3 class="ion-text-center ion-padding">Welcome to our cutting-edge sports app, the ultimate destination for all your athletic news!</h3>

   <!--=========== Get Started btn ============-->
<div class="container-btn">
    <ion-button (click)="getStarted()" class="animate__animated animate__fadeInUp" expand="block" fill="clear" shape="round">
    Get Started
  </ion-button>
</div>


  
</ion-content>